{% extends 'base.html' %}

{% block title %}SkyDos{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

{% if current_user.is_authenticated %}
<ul class="list-group">
    <li class="list-group-item">
        <a href="{{url_for('topic')}}"><button class="btn btn-primary">Add Topic</button></a>
    </li>
</ul>
{% endif %}

{% for topic in topics %}
<ul class="list-group">
    <li class="list-group-item">
        <div>
            <h4>
                <a href="/post/{{topic.id}}">{{topic.title}}</a>
            </h4>
            <div>{{topic.description}}</div>

        </div>
    </li>
</ul>
{% endfor %}

{% endblock %}