{% extends 'base.html' %}

{% block title %}Post{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<ul class="list-group">
    <li class="list-group-item">
        <h2>{{topic.title}}</h2>
{% if current_user.is_authenticated %}
        <a href="/add_post/{{topic.id}}"><button class="btn btn-primary">Add Post</button></a>
    </li>
</ul>
{% endif %}

{% for post in posts %}
<ul class="list-group">
    <li class="list-group-item">
        <div>
            <div>
                posted by: {{post.username}}
            </div>
            <div>
                date of creation:
                {{post.data.strftime('%Y-%m-%d')}}
            </div>
            <div>
                <h4>{{post.content}}</h4>
            </div>
            {% if current_user.id == post.creator_id %}
            <a href="/delete/{{post.id}}"><button class="btn btn-primary">Delete Post</button></a>
            <a href="/update/{{post.id}}"><button class="btn btn-primary">Edit Post</button></a>
            {% endif %}
        </div>
    </li>
</ul>

{% endfor %}

{% endblock %}